body {
    font-family: "Source Sans Pro","Open Sans",
    "Helvetica Neue","Helvetica,Arial,sans-serif" ;
      margin:0;
      background-image: url("dietbg.jpg");
      background-color: #cccccc;
      background-size: 100%;
      background-position: center center;
      background-blend-mode:exclusion;
  }

  .h1,.h2{
    display: block;
  	width: 40% ;
    height: 80px;
    opacity: 0.9;
    margin-left: 10px;
  	border: 1px solid white;
    background-color: #E7F1F5;
  	box-sizing: border-box;
  	padding: 0px 5px;
  	border-radius: 4px;
  }


  #p1,#p2{
  display: block;
	width: 37%;
  margin-bottom: 20px;
  margin-left: 10px;
  opacity: 0.9;
	border: 1px solid white;
  background-color: #E7F1F5;
	box-sizing: border-box;
	padding: 10px 10px;
	font-size: 18px;
	border-radius: 4px;
  }
